
$base_bg: #0073BD;
$dark_text_color: #005E9C;
$light_text_color: #FFFFFF;

//gradient background color//
$grad_1: #0073BD;
$grad_2: linear-gradient(#0ff, #00c9e5, #00aed8, #0098ce, #0087c6, #007bc1, #0074bd, #0073bd);

$color-black: #000;
$color-white: #fff;