// import variables
@import '_vars';

// import utilities rules
@import '_utilities';

// import modules components
//@import 'modules/_header';
//import header
//@import '_header';



// //html {
//     :root {
//         font-size: 10px;
//         }
body {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 1920px;
    height: 2285px;
    background-color: #0073BD;
    background-image: linear-gradient(#0ff, #0098ce, #0087c6, #007bc1, #0074bd, #0073bd);
}


//header open
#mainHeader{
    max-width: 1799px;
}



#headerImage {
    width: 655px;
    height: 356px;
    flex: right;
}
h2{
    color: $light_text_color;
    font-family: Orbitron;
    font-size: 45px;
    // width: 1286px;
    // height: 192px;
}


p{
    color: $color-white;
    font-family: $light_text_color;
    font-size: 49px;
}
//header close

