// import variables
@import '_vars';

// import utilities rules
@import '_utilities';

// import modules components
//@import 'modules/_header';
//import header
//@import '_header';



// //html {
//     :root {
//         font-size: 10px;
//         }
body {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 1920px;
    height: 2285px;
    background-color: #0073BD;
    background-image: linear-gradient(rgb(0, 140, 255), #0098ce, #0087c6, #007bc1, #0074bd, #0073bd);
}


//header open
#headerImage {
    width: 655px;
    height: 356px;
    display: grid;
}
h2{
    color: $light_text_color;
    font-family: Open Sans;
    font-size: 45px;
  
}


p{
    color: $light_text_color;
    font-family: Open Sans;
    font-size: 20x;
}
h3{
    color: $light_text_color;
    font-family: Open Sans;
    font-size: 30px;
  
}
//header close
 //main content open

