body {
  
    background-color: #0073BD;
    background-image: linear-gradient(rgb(0, 140, 255), #0098ce, #0087c6, #007bc1, #0074bd, #0073bd);
    
}
.firstHeading {

    
    @media only screen and (max-width: 480px)
{
        width: 50%;
        margin-bottom: -230px;
}

@media only screen and (max-width: 780px)
{
        width: 40%;
}


@media only screen and (min-width: 1200px)
{
        width: 100%;
}

}


//header open
#mainHeader {
    width: 860px;
    height: 875px;
    margin: 0 auto;
    display: block;
    
}
#headerImage{
    width: 860px;
    height: 870px;
    padding: 10px;

    @media only screen and (max-width: 480px)
    {
            width: 40%;
    }
    
    @media only screen and (min-width: 780px)
    {
            width: 50%;
    }
    
    @media only screen and (min-width: 1200px)
    {
            width: 100%;
    }
    
    }
    
h2{
    color: $light_text_color;
    font-family: Open Sans;
    font-size: 45px;

    @media only screen and (max-width: 480px)
    {
            width: 40%;

    }
    
    @media only screen and (min-width: 780px)
    {
            width: 50%;
    }
    
    @media only screen and (min-width: 1200px)
    {
            width: 100%;
    }
  
}


p{
    color: $light_text_color;
    font-family: Open Sans;
    font-size: 20x;
}
h3{
    color: $light_text_color;
    font-family: Open Sans;
    font-size: 30px;
    @media only screen and (max-width: 480px)
    {
            width: 40%;
    }
    
    @media only screen and (min-width: 780px)
    {
            width: 50%;
    }
    
    @media only screen and (min-width: 1200px)
    {
            width: 100%;
    }
  
}
//header close
 //main content open
//mid stection 1 open
.keyFeatureImg{
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding-block-end: 50%;
    padding: 10px;
    align-items: center;
    @media only screen and (max-width: 480px)
    {
            width: 40%;
            display: flex;
            flex-direction: column;
    }
    
    @media only screen and (min-width: 780px)
    {
            width: 80%;
    }
    
    @media only screen and (min-width: 1200px)
    {
            width: 100%;
    }
    
    }

#keyFeatureSvg1{
    padding: 10px;
    

}
#keyFeatureSvg2{
    padding: 10px;
   
}
#keyFeatureSvg3{
    padding: 10px;
}
//mid stection 1 close


//mid section 2 open
 #midSection{
    width: 860px;
    height: 220px;
     display: flex;
     justify-content:space-around;
    padding: 5%;
    @media only screen and (max-width: 480px)
    {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-top: 510px;

    }
    
    @media only screen and (max-width: 780px)
    {
            width: 40%;
    }
    
    
    @media only screen and (min-width: 1200px)
    {
            width: 100%;
    }

    
    
 }
.whyResponsiveImgs{
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding-block-end: 50%;

    @media only screen and (max-width: 480px)
    {
            width: 40%;
            display: flex;
            flex-direction: column;
    }
    
    @media only screen and (min-width: 780px)
    {
            width: 50%;
            
    }
    
    @media only screen and (min-width: 1200px)
    {
            width: 100%;
    }
}
#whyResponsiveSvg1{
    padding: 10px;
}
#whyResponsiveSvg2{
    padding: 10px;
}

  //last section
  #fourthSection{
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 10px;

    @media only screen and (max-width: 480px)
    {
            width: 50%;
            margin-top: 510px;
            margin: 0 auto;
    display: block;
    }
    
    @media only screen and (max-width: 780px)
    {margin-top: 510px;
        
display: block;
            width: 40%;
    }
    
    
    @media only screen and (min-width: 1200px)
    {
            width: 100%;
    }
 }

.fourthHeading{
    width: 600px;
    margin: 0 auto;
   display: block;
   padding: 20px;
}
    
    
    @media only screen and (min-width: 1200px)
    {
            width: 100%;
    }


 #graphImg{
    margin: 0 auto;
    display: block;
    width: 80%;

    @media only screen and (max-width: 480px)
    {
            width: 200%;
     
        
    }
 
 }


